<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
   <!-- box navbar-toggler-icon -->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Navbar Example</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disponibilidad">Disponibilidad Rodados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anclajes">Anclajes Libres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container">
        <!-- Aplicar estilo al título -->
        <h2 style="color: #3498db; text-align: center;">Disponibilidad de Rodados</h2>

        <table class="table table-bordered table-striped text-center mt-4">
            <thead>
                <tr class = "bg-primary text-white">
                    <th scope="col">Cantidad_Rodados_disponibles</th>
                    <th scope="col">Estacion</th>
                </tr>
            </thead>
            <tbody>
                <% rodados.forEach((rodado) => { %>
                    <tr>
                        <td><%= rodado.Cantidad_Rodados_Disponibles %></td>
                        <td><%= rodado.nombre %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>    
